<button mat-button>boton normal</button>
<button mat-raised-button>boton levantado</button>
<button mat-flat-button>boton plano</button>
<button mat-stroked-button>boton delineado</button>

<button mat-fab>boton circular</button>
<button mat-mini-fab>boton circular</button>
<button mat-icon-button>boton circular</button>
<hr>

<button color="primary" mat-button disableRipple>asdfasdf</button>
<button color="warn" mat-button>adsfsdaf</button>
<button color="accent" mat-button>adsfsdfa</button>


<button color="primary" mat-raised-button>asdfasdf</button>
<button color="warn" mat-raised-button>adsfsdaf</button>
<button color="accent" mat-raised-button>adsfsdfa</button>