<div class="mat-display-1">display 1</div>
<div class="mat-display-2">display 2</div>
<div class="mat-display-3">display 3</div>
<div class="mat-display-4">display 4</div>

<div class="mat-headline">yo soy el h1</div>
<div class="mat-title">yo soy el h2</div>
<div class="mat-subheading-2">yo soy el h3</div>
<div class="mat-subheading-1">yo soy el h4</div>


<div class="mat-body-1">cuerpo 1</div>
<div class="mat-body-2">cuerpo 2</div>
<div class="mat-caption">cuerpo 2</div>

<div >
    <h1>angular material</h1>
    <h2>angular material</h2>
    <h3>angular material</h3>
    <h4>angular material</h4>
</div>